<ion-view view-title="Vault">
  <ion-content class="padding">

    <a ng-click="photoOrderReverse=!photoOrderReverse;" class="button button-stable button-clear icon-left ion-arrow-down">
      <i class="icon ion-android-arrow-down"></i> Sort
    </a>



    <div class="cd-timeline-block" ng-repeat="obj in mediaList | orderBy:'date':photoOrderReverse track by $index">
    

      <div ng-if="obj.mediaType == 'picture'" class="">
        
        <div class="cd-timeline-img cd-picture">
          <img src="lib/vertical-timeline/img/cd-icon-picture.svg" alt="Picture">
        </div>

        <div class="cd-timeline-content">
          <h2>{{obj.title}}</h2>
          <p>{{obj.description}}</p>
          <img src="{{obj.uri}}" class="image">
          <span class="cd-date">{{obj.datePretty}}</span>
        </div><!-- cd-timeline-content -->
      
      </div>


      <div ng-if="obj.mediaType == 'movie'" class="">
        
        <div class="cd-timeline-img cd-movie">
          <img src="lib/vertical-timeline/img/cd-icon-movie.svg" alt="Picture">
        </div>

        <div class="cd-timeline-content">
          <h2>{{obj.title}}</h2>
          <p>{{obj.description}}</p>
          <video controls src="{{obj.uri}}" class="image" height=200 width=200></video>
          <span class="cd-date">{{obj.datePretty}}</span>
        </div><!-- cd-timeline-content -->

      </div>


      
    </div><!-- cd-timeline-block -->


    
  </section> <!-- cd-timeline -->

  </ion-content>
</ion-view>
