<ion-view view-title="Add Video">
  <ion-content padding="true">
        <div class="list card">    
            <div class="item item-image">
                <video controls src="{{path}}" class="image" height=200></video>
            </div>
        </div>

        <form class="" ng-controller="VideoUploadCtrl" name="tagPhoto">
            <a class="button button-clear" ng-click="takeVideo()">
              <i class="icon ion-android-camera"></i> Retake Video
            </a>
            <label id="title" class="item item-input item-floating-label">
                <span class="input-label">Video Title</span>
                <input type="text" placeholder="Video Title" ng-model="videoTitle">
            </label>
            <label id="title" class="item item-input item-floating-label">
                <span class="input-label">Description</span>
                <input type="text" placeholder="Description" ng-model="videoDescription">
            </label>
            <button class="button button-positive button-block" ng-click="saveVideo()">
                Save
            </button>
        </form>
  </ion-content>
</ion-view>
