/* Empty. Add your own CSS if you like */

.vault-button {
	width: 200px;
}

.scroll-content {
	text-align: center;
	background-color: #E9F0F5;
}

body {
	background-color: #E9F0F5;
    font-family: 'Helvetica-nueue', 'Roboto', sans-serif;
}
